.myFileModel{
    .avatar-uploader{
        position: relative;
        .el-upload {
            border: 1px dashed $border-color;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            width: 160px;
            height: 110px;
            &:hover {
                border-color: $main-color;
            }
            .excelIco{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 160px;
            height: 110px;
            line-height: 110px;
            text-align: center;
        }    
        .img_popup{
            height: calc(100% - 24px);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            cursor: initial;
            .close{
                position: absolute;
                top:5px;
                right:5px;
                width:18px;
                height: 18px;
                line-height: 18px;
                border-radius: 50%;
                font-size: 14px;
                background: red;
                color:#fff;
                text-align: center;
                font-weight:bold;
                cursor: pointer;
                display: none;
            }
            .editImg{
                height: 24px;
                line-height: 24px;
                width: 100%;
                position: absolute;
                bottom: -24px;
                left: 0;
                background: $main-color;
                color:#fff;
                text-align: center;
                cursor: pointer;
                display: none;
                pointer-events: none;
            }
            &:hover .close{
                display: block;
            }
        }    
        &:hover .editImg{
            display: block;
        }
    }

    .avatar {
        width: 160px;
        height: 110px;
        display: block;
    }
    .bigImg{
        position: absolute;
        left: 50%;
        top: 50%;
        max-height: 90%;
        max-width: 90%;
        transform: translateX(-50%) translateY(-50%);
    }
}